# Dependency directories
node_modules/
app/node_modules

# Optional: Lock files
yarn.lock
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# Build output
/dist/
/build/

# Cache and logs
/.cache/
/.log/

# IDE and editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Optional: Editor-specific files
*.suo
*.ntvs*
*.njsproj
*.sln
